body {
    margin: 0;
    font-family: 'Arvo', serif;
    font-family: 'Montserrat', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: whitesmoke;
}

.topnav a {
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    text-align: center;
    margin: 10px 2px;
    transition: 500ms;
    border-radius: 10px;
    margin-right: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: lightcoral;
    color: white;
}

.card {
    margin: 15px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-left: 75px;
}

.imgcard {
    margin: 30px;
    margin-left: 12px;
    margin-bottom: 5px;
    margin-top: 3px;
    width: 275px;
    height: 280px;
}

.hrcard {
    margin: 25px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.btncard {
    overflow: hidden;
}

.btncard a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    text-align: center;
    transition: 500ms;
    border-radius: 10px;
    background-color: aqua;
    margin-left: 15px;
}

.btncard a:hover {
    background-color: lightcoral;
    color: white;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search {
    position: left;
}

.searchbox {
    left: 0px;
    height: 50px;
    width: 5px;
    border-radius: 15px;
    background-image: url('https://img.icons8.com/fluency/48/000000/search.png');
    padding-left: 30px;
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 27px;
    margin-left: 20px;
    background-color: whitesmoke;
    border: none;
    margin-top: 8px;
    transition: 2s;
}

.searchbox:focus {
    outline: none;
}

.searchbox:hover {
    background-color: white;
    width: 300px;
    transition: 1s;
}

input[type='text'] {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

#p_footer {
    color: white;
    font-size: 30px;
}

.p_card {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date {
    margin-bottom: 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}